In [ ]:
#QUESTION1

sent = input("Enter the sentence:")

words = sent.split()

uniq = set(words)

print("Unique words count:",len(uniq))
print("Unique words:", uniq)

Enter the sentence:python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'powerful', 'easy', 'is', 'python'}

In [ ]:
#QUESTION2

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
hn = list(employees.keys())[0]
max = employees[hn]

for name, salary in employees.items():
    if max < salary:
        max = salary

print(max)

75000

In [ ]:
#QUESTION3

numbers = [45, 22, 89, 10, 66]

max = 0
min = 0

for i in range(len(numbers)):
  if max < numbers[i]:
    max = numbers[i]

  if min > numbers[i]:
    min = numbers[i]

print("Max:",max)
print("Min:",min)

Max: 89
Min: 0

In [ ]:
#QUESTION4

prices = [450, 1200, 899, 1500, 300]

count = 0
for i in range(len(prices)):
  if prices[i] > 1000:
    count +=1

print("Products above 1000:", count)

Products above 1000: 2

In [ ]:
#QUESTION5

attendance = ["P", "P", "A", "P", "P"]

absent = 0

for i in range(len(attendance)):
  if attendance[i] == "A":
    absent +=1

present = len(attendance) - absent
print("Attendance percentage: ", present/len(attendance)*100)

Attendance percentage:  80.0

In [14]:
#QUESTION6

phone_numbers = [9876543210, 9123456789, 9876543210]

unique = set(phone_numbers)

print("Unique numbers:", unique)

Unique numbers: {9876543210, 9123456789}

In [15]:
#QUESTION7

text = "pythonP"

ch_count = {}

for c in text:
  if c in ch_count:
    ch_count[c] += 1
  else:
    ch_count[c] = 1

print(ch_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1, 'P': 1}

In [17]:
#QUESTION8

lis = [1,2,3,4,5]

tu = tuple(lis)

print("Tuple:",tu)

Tuple: (1, 2, 3, 4, 5)

In [20]:
#QUESTION9

dic = {
    "emp 1": "manager",
    "emp 2": "developer",
    "emp 3": "employee"
}

if "emp 1" in dic:
  print("emp 1 exists")

emp 1 exists

In [25]:
#QUESTION10

marks = {
    "tamil":95,
    "eng": 70,
    "maths": 80,
    "science": 90,
    "social": 60

}

sum = 0

for i in marks.values():
  sum+= i

print("Average:", sum/len(marks))

Average: 79.0