In [ ]:
employees = {
"Ravi": 92,
"Anita": 88,
"Kiran": 92,
"Suresh": 85
}

h_score = 0

for s in employees.values():
  if s>h_score:
    h_score = s

top_per = []

for n,s in employees.items():
  if s == h_score:
    top_per.append(n)

print("Top perfomers eligible for bonus:", ", ".join(top_per), "(Score:",h_score,")")

Top perfomers eligible for bonus: Ravi, Kiran Score: 92

In [ ]:
q = "Buy mobile phone buy phone online"

q = q.lower()

for e in ",.;?":
  q = q.replace(e,"")

w = q.split()

count = {}

for r in w:
  if r in count:
    count[r] += 1
  else:
    count[r] = 1

result = []

for r,c in count.items():
  if c > 1:
    result.append((r,c))

print(result)

[('buy', 2), ('phone', 2)]

In [10]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]

valid = []

for i in range(len(sensor_readings)-1):
  if( sensor_readings[i]%2==0):
    valid.append((i, sensor_readings[i]))

print("valid sensor readings (hour:value)")
print(valid)
#

valid sensor readings (hour:value)
[(1, 4), (3, 8), (4, 10), (5, 12)]

In [12]:
emails = [
"ravi@gmail.com",
"anita@yahoo.com",
"kiran@gmail.com",
"suresh@gmail.com",
"meena@yahoo.com"
]

domains = [email.split("@")[1] for email in emails]

total = len(domains)

for d in set(domains):
  p = (domains.count(d)/total)*100
  print(f"{d}: {int(p)}%")

gmail.com: 60%
yahoo.com: 40%

In [14]:
sales = [1200, 1500, 900, 2200, 1400, 3000]

sum = 0

for i in range(len(sales)):
  sum += sales[i]

avg = sum/len(sales)

limit = avg*1.3

for i in range(len(sales)):
  if sales[i] > limit:
    print("Day",i+1,":",sales[i])

print(avg)

#day 4 is actually less than 30% more of avg
#1700*1.3 = 2210>2200

Day 6 : 3000
1700.0

In [18]:
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]

count = {}

for uid in user_ids:
  if uid in count:
    count[uid] += 1
  else:
    count[uid] = 1

for uid in count:
  if count[uid]>1:
    print(uid," - ", count[uid], "times")

user1  -  3 times
user3  -  2 times